name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: get libdatetime-perl
      run: sudo apt-get install libdatetime-perl

    - name: build 
      run: make clean;make alt; make clean; make

  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: get DateTime
      run: sudo cpan -i DateTime

    - name: build 
      run: make clean;make alt; make clean; make
